name: Kriteria 1 - Automasi Preprocessing RFM

on:
  push:
    branches: [ "main" ]

jobs:
  rfm-processing-job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run RFM Preprocessing
      run: |
        # Menjalankan script yang sudah kamu buat
        python preprocessing/automate_preprocessing.py

    - name: Verify Output (Cek Hasil)
      run: |
        # Mengecek apakah file hasil preprocessing berhasil dibuat
        ls -R preprocessing/